In [19]:
# Task 1 - Q 1
# Write a function to find moving average in an array over a window:
# Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
def moving_avg(x, k):
    out = np.array([])
    for i in np.arange(len(x)-(k-1)):
        val = sum(np.ones(k) * x[i:i+k]) / k
        out = np.append(out,val)
    return out

In [5]:
moving_avg(np.array([10,20,30,40,50,60,70,80,90,100]),4)

array([25., 35., 45., 55., 65., 75., 85.])

In [7]:
moving_avg(np.array([3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150]),3)

array([  5.        ,   4.66666667,   5.66666667,   6.66666667,
         9.66666667,  28.66666667,  49.33333333,  72.66666667,
        84.        ,  93.33333333, 116.33333333])

In [8]:
# Task 2 - Q 1
# How-to-count-distance-to-the-previous-zero
# For each value, count the difference back to the previous zero (or the start of the Series,
# whichever is closer)

def distPrevZero(arr, n): 
      
    out = [0 for i in range(n)] 
    if (arr[0] == 0): 
        out[0] = 0
    else: 
        out[0] = 10**9

    for i in range(1, n): 
  
        out[i] = out[i - 1] + 1
  
        if (arr[i] == 0): 
            out[i] = 0
    if (arr[n - 1] == 0): 
        out[n - 1] = 0
    for i in range(n - 2, -1, -1): 
        out[i] = min(out[i], out[i + 1] + 1) 
        if (arr[i] == 0): 
            out[i] = 0

    for i in out: 
        print(i, end = " ")

In [9]:
distPrevZero([7, 2, 0, 3, 4, 2, 5, 0, 3, 4], 10)

2 1 0 1 2 2 1 0 1 2

In [10]:
# Task 2 - Q 2
# Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of
# random numbers.

df = pd.date_range(start='2015-01-01', end ='2015-12-31', freq = 'B')
s = pd.Series(np.random.rand(len(df)), index=df)

In [11]:
s

2015-01-01    0.542558
2015-01-02    0.476290
2015-01-05    0.435085
2015-01-06    0.754319
2015-01-07    0.785168
2015-01-08    0.805932
2015-01-09    0.890418
2015-01-12    0.818099
2015-01-13    0.060982
2015-01-14    0.614853
2015-01-15    0.442540
2015-01-16    0.654597
2015-01-19    0.718302
2015-01-20    0.883387
2015-01-21    0.084667
2015-01-22    0.840221
2015-01-23    0.236090
2015-01-26    0.547957
2015-01-27    0.412490
2015-01-28    0.820838
2015-01-29    0.122742
2015-01-30    0.002202
2015-02-02    0.086151
2015-02-03    0.691687
2015-02-04    0.233581
2015-02-05    0.982953
2015-02-06    0.092936
2015-02-09    0.363665
2015-02-10    0.915872
2015-02-11    0.607159
                ...
2015-11-20    0.778021
2015-11-23    0.767548
2015-11-24    0.580388
2015-11-25    0.616375
2015-11-26    0.699205
2015-11-27    0.552270
2015-11-30    0.318592
2015-12-01    0.812999
2015-12-02    0.169645
2015-12-03    0.585508
2015-12-04    0.053804
2015-12-07    0.360946
2015-12-08    0.595925
2015-12-09    0.900280
2015-12-10    0.828023
2015-12-11    0.427933
2015-12-14    0.844861
2015-12-15    0.225632
2015-12-16    0.259065
2015-12-17    0.718311
2015-12-18    0.611314
2015-12-21    0.796839
2015-12-22    0.169392
2015-12-23    0.282149
2015-12-24    0.989144
2015-12-25    0.186562
2015-12-28    0.173825
2015-12-29    0.269982
2015-12-30    0.027602
2015-12-31    0.388499
Freq: B, Length: 261, dtype: float64

In [13]:
#Task 2 - Q 3 - Find the sum of the values in s for every Wednesday

In [14]:
s[df.weekday==2].sum()

24.331832225744847

In [15]:
#Task 2 - Q 4 - Average For each calendar month

In [16]:
s.resample('M').mean()

2015-01-31    0.543170
2015-02-28    0.537146
2015-03-31    0.486391
2015-04-30    0.395223
2015-05-31    0.415713
2015-06-30    0.461055
2015-07-31    0.398788
2015-08-31    0.584923
2015-09-30    0.525864
2015-10-31    0.519685
2015-11-30    0.556124
2015-12-31    0.464271
Freq: M, dtype: float64

In [17]:
#Task 2 - Q 5 - For each group of four consecutive calendar months in s, find the date on which the highest
# value occurred.

In [18]:
s.groupby(pd.Grouper(freq ='4M')).idxmax()

# for reference
# x = s.groupby(pd.Grouper(freq ='M')).idxmax()
# x
# y = s.groupby(pd.Grouper(freq ='4M')).max()
# y

2015-01-31   2015-01-09
2015-05-31   2015-03-23
2015-09-30   2015-09-28
2016-01-31   2015-11-19
dtype: datetime64[ns]